<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'first_app/css/login_reg.css' %}">

    <title>PawPals | Login & Register</title>

</head>
<body>

    <div class="align">
		<!-- <img class="logo" src="img/logo.svg"> -->
		<div id="card" class="card">
			<div class="head">
				<div></div>
				<a id="login" class="selected" href="#login">Login</a>
				<a id="register" href="#register">Register</a>
				<div></div>
			</div>
			<div class="tabs">

				<form action="/sign_in" method="POST">
					{% csrf_token %}
					<div class="inputs">
						<div class="input">
							<input placeholder="Username" name="username" type="text">
							<img src="{% static 'first_app/img/user.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Password" name="password" type="password">
							<img src="{% static 'first_app/img/pass.svg' %}">
						</div>
						<label class="checkbox">
							<input type="checkbox">
							<span>Remember me</span>
						</label>
					</div>
					<button type="submit">Sign In</button>
				</form>

				<form action="/sign_up" method="POST">
					{% csrf_token %}
					<div class="inputs">
						<div class="input">
							<input placeholder="Email" name="email" type="text">
							<img src="{% static 'first_app/img/mail.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Username" name="username" type="text">
							<img src="{% static 'first_app/img/user.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Password" name="password" type="password">
							<img src="{% static 'first_app/img/pass.svg' %}">
						</div>
						<div class="input">
							<input placeholder="Confirm Password" name="confirm_password" type="password">
							<img src="{% static 'first_app/img/pass.svg' %}">
						</div>
					</div>
					<button type="submit">Register</button>
				</form>

			</div>
        </div>
        <div class="testers">
            <p>For all employers / testers, use the following information for quick login</p>
            <ul>
                <li>Username: tester</li>
                <li>Username: tester123</li>
            </ul>
        </div>
	</div>

    {% load static %}
    <script src="{% static 'first_app/js/login_reg/jquery-3.3.1.min.js' %}" ></script>
    <script src="{% static 'first_app/js/login_reg/index.js' %}" ></script>
    
</body>
</html>