<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Select Dog</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'first_app/css/select_dog.css' %}">

</head>
<body>
    <div class="container"></div>
        <div class="header">
            <div class="logout">            
                <a href="/logout">Logout</a>
            </div>

            <div class="edit">            
                <a href="/edit">Edit</a>
            </div>

            <h1>My Dogs</h1>
        </div>

        <div class="dog_container">
            <div class="select_dog">
                {% for dog in dogs %}
                <div class="border">
                    <img src="{{ dog.image.url }}">
                    <div class="dog_info">
                        <h3>{{ dog.dog_name }}</h3>
                        <p>{{ dog.breed }}</p>
                        <br>
                        <h4>About {{ dog.dog_name }}</h4><p>{{ dog.bio }}</p>
                        <div class="add_new">
                            <form action="/profile/{{ dog.id }}">
                                <button type="submit">Make Pals</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>

        <!-- <div class="add_new">
            <form action="/add_new_dog">
                <button type="submit">Add New Dog</button>
            </form>
        </div> -->
        
    </div>

</body>
</html>