<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Message Board</title>
</head>
<body>
    <h1>You Are {{ my_dog.dog_name }}</h1>
    <h1>Message {{ the_dog.dog_name }}</h1>


    <h1>{{ message.message }}</h1>

    <form action="/message_action" method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="inputs">
            <div class="input">
                <textarea placeholder="Message" name="message" type="text"></textarea>
            </div>
        </div>
        <button type="submit">Send</button>
    </form>
</body>
</html>