* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto";
	outline: none;
	border: none;
}

html, body {
	height: 100%;
	background: #0A0A0A;
}

.align {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 8px;
}

.logo {
	width: 120px;
}

.card {
	margin-top: 28px;
	height: 100%;
	max-height: 575px;
	width: 396px;
	background: #121212;
	border: 1px solid #373737;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}

.extend {
	max-height: 510px;
}

.head {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 1px solid #373737;
	justify-content: space-between;
}

.head h1 {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #B5EAD7;
	font-size: 24px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.head .selected {
	position: relative;
	color: #B5EAD7;
	font-weight: 700;
}

.head .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #B5EAD7;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}

form {
	width: 100%;
	flex-shrink: 0;
	padding: 45px 38px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 0;
	transition: right 0.2s;
}

.size {
	font-size: 17px;
	color: rgb(220,220,220);
	padding-right: 10px;
}

select {
	border-radius: 5px;
	padding: 5px 10px;
}

.inputs {
	width: 100%;
	padding-top: 6px;
}

.input {
	position: relative;
	margin-bottom: 20px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	width: 100%;
	font-size: 17px;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 16px 18px;
	color: rgb(220,220,220);
}

.input textarea {
	width: 100%;
	font-size: 17px;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 16px 18px;
	color: rgb(220,220,220);
}

input[type="file"] {
	color: rgb(220,220,220);
}

.card button {
	display: block;
	background: #B5EAD7;
	padding: 14px 52px;
	margin-bottom: 15px;
	border-radius: 12px;
	color: #121212;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}

.cancel {
	display: block;
	background: #bb5757;
	padding: 14px 52px;
	margin-bottom: 15px;
	border-radius: 12px;
	color: #121212;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}



